// .jumboEvents{
//     background-image: url("https://images.unsplash.com/photo-1500534623283-312aade485b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
//     background-size: cover;
//     height: 1500px;
//     margin-top: -75px;
//     padding-top: 10%;

// }

.eventsHeader{
    color: #a3c962;
    font-family: 'Noto Serif JP', serif;
}

.eventFormTitle{
    background-color: white;
    width: 730px;
    height: 140px;
}

.card{
    border-radius: 1.25rem;
}
.eventsCard1{
    margin-top: 10px;
}
    
.eventsCard{
    border: none;
    width: 100%;
    height: 450px;
    padding: 0px;
    margin: 2%;
    
}

.eventText{
     font-family: 'Noto Serif JP', serif;
}

.eventButton{
    margin-left: 3%;
}

.fas{
    color: #a3c962 !important;
}
    
.imageSize{
    position:absolute;
    width: 100%;
    height: 30%;
    margin-left: 0;
    border-radius: 1.25rem 1.3rem 0 0;
}

.fa-plus-circle{
    color: white;
    margin-left: 10px;
}

.card2{
    position: absolute;
    top:32%;
}

.PlanetEventForm{
    height: 100px;
    width: 100px;
    margin-left: 40%;
    margin-right: 45%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-text{
    font-family: 'Noto Serif JP', serif;
}
