.eventsContainer {
    width: 730px;
}

.eventFormTitle{
    background-color: white;
    width: 730px;
    height: 140px;
}

.eventsCard{
    margin-top: 10px;
    
}

.eventsCard1{
    margin-top: 10px;
    
}

.fa-plus-circle{
    color: white;
    margin-left: 10px;
}