.logoName {
    float: left;
    border-radius: 3px;
    border: solid 1px;
}

// .jumbotron1{
//         position: relative;
//         background-image: url("https://cdn.pixabay.com/photo/2018/08/12/15/29/hintersee-3601004_1280.jpg");
//         width: 100%;
//         height: 100%;
//         background-size: cover;
//         color: #fff;
// }