.login_Background{
    // background-color: #45bf9a;
    background-image: url("https://cdn.pixabay.com/photo/2017/05/31/12/33/reflection-2360250_1280.jpg");
    background-size: cover;
    position: relative;
    // color: #fff;
    height: 900px;
    text-align: center;
    margin-top: -73px;
    padding-top: 16%;
}
.login_Container{
    height: 400px;
    width: 500px;
    margin-top: 20px;
    background-color: #f2f0ed;
    opacity: 0.5;
}

.login_input{
    width: 300px;
    display: inline-block;
}

.login_btn{
    border-radius: 40px;
    margin-top: 30px;
    border: solid 1px;
    width: 300px !important;
}

.register_Link{
    margin-right: 35px;
}