.jumbotron1 {
    background-color: #45bf9a;
    height: 800px;
    text-align: center;
}

.header1{
    position: fixed;   
    width: 100%;
}

.log-in{
    float: right;
    border-radius: 40px;
    margin: 30px;
    border: solid 1px;
}
