.jumbotron1 {
    background-color: #45bf9a;
    height: 800px;
    text-align: center;
    padding-top: 16%;
}

.header1{
    position: fixed;   
    width: 100%;
}

.btn1{
    border-radius: 40px;
    margin: 30px;
    border: solid 1px;
}

.btn2{
    float: right;
    border-radius: 40px;
    margin: 30px;
    border: solid 1px;
}

.jumbotron2 {
    background-color: #F7F0F5;
    height: 800px;
    text-align: center;
    padding-top: 16%;
}

.jumbotron3 {
    background-color: #7F7EFF;
    height: 800px;
    text-align: center;
    padding-top: 16%;
}

.jumbotron4 {
    background-color: #A390E4;
    height: 800px;
    text-align: center;
    padding-top: 16%;
}

.jumbotron5 {
    background-color: #B57BA6;
    height: 800px;
    text-align: center;
    padding-top: 16%;
}