.zxz {
   background-image: url("https://cdn.pixabay.com/photo/2016/01/19/17/51/pine-trees-1149943_1280.jpg");
    background-size: cover;
    height: 800px;
    text-align: center;
    margin-top: -75px;
    padding-top: 10%;
}


.cardSearch {
    border: 5px;
}


.tryinggg{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}


.setDayButton{ 
    text-align: center;   
};

.confirmDay{ 
    text-align: center;  
};